* {
    background:#E5E5E5 ;
    font-family: 'Inter', sans-serif;
    font-weight: 400 ;
    font-size: 20px;
    line-height: 150%;
}



.logo {
    margin-left: 55px;
    padding-top: 10px;
    width: 2%;
}
.logo h1 {
    display: inline;
    font-size: 35px;
    color: #0A3871;
    margin-left: 300px;
    margin-top: 0px;
}

main {
     display: flex;
     margin-bottom: 50px;
     margin-left: 80px;
}
.input-text {
   width: 30%;
   height: 50%;
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    

}
.informacao{
    font-size:35px ;
}

#placeholder{
    color: white;
    font
}
    .text-area:focus {
        outline: none;
    }

.output { 
    background: #E5E5E5;
    
    background-repeat: no-repeat;
    border: none;
    border-radius: 25px;
    color:#0A3871;
    margin-left: 90px;
    margin-right: 20px;

}
.txt{
    background: #E5E5E5;
    border: none;
    background-image: url(./imagem/desenho.png);
    margin-left: 80px;
    margin-top: 20px;
    
}
.output:focus:{
    outline: none;
}
.btn{
    display:flex ;
    margin-top: 18px;
}

.padraoc{
    
    background-color: #0A3871;
    border:1px solid #0A3871  ;
    border-radius: 24px;
    color :white;
    cursor: pointer;
    height:67px ;
    width: 328px;
}
.padrao{
    background-color:#E5E5E5 ;
    border:1px solid #0A3871  ;
    border-radius: 24px;
    color :#0A3871;
    cursor: pointer;
    height:67px ;
    width: 328px;
}
.copiar{
    background-color:#E5E5E5 ;
    border:1px solid #0A3871  ;
    border-radius: 24px;
    color :#0A3871;
    cursor: pointer;
    height:67px ;
    width: 328px;
    margin-left: 90px;
    margin-bottom: 20px;
}

.btn-copiar{
    background-color:#E5E5E5 ;
    border:1px solid #0A3871  ;
    border-radius: 24px;
    color :#0A3871;
    cursor: pointer;
    height:67px ;
    width: 328px;
    margin-left: 90px;
    margin-bottom: 20px;
    
}

 p{
    text-align: center;
    background: #E5E5E5;
    margin-top: 20px;
    margin-bottom: 20px;


}
.footer h2{
    background-color:#0A3871;
    color:#E5E5E5;
    text-align:center;
}


@media screen and (max-widht:480px){
        .main {
            width: auto;
        }
      
}